<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import CalCOmponent from "./components/CalCOmponent.vue";
import HelloWorld from "./components/HelloWorld.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandingUserInput from "./components/HandingUserInput.vue";
import AttributBindings from "./components/AttributBindings.vue";
import ConditionsAndLoops from "./components/ConditionsAndLoops.vue";
import FromBindings from "./components/FromBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <br /><br />
    <FromBindings />
    <br /><br />
    <ConditionsAndLoops />
    <br />
    <br />
    <AttributBindings />
    <HandingUserInput />
    <CalCOmponent />
    <HelloWorldExample />
  </div>
</template>

<style scoped></style>
